<div *ngIf="item"  class="card container w-50 bg-secondary text-light mt-3">
    <div class=" text-warning">
  Warning
    </div>
    <div class="card-body  ">
      <h5 class="card-title">Do You Want To Delete Your Account {{item}} </h5>
      <p class="card-text">This Process will Completely Remove your Acoount Details,And Cant be unDone</p>
      <button  class="btn btn-outline-danger" (click)="delete()">Delete</button> 
      <button class="btn btn-outline-primary ms-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
  