<nav class="navbar  navbar-expand-lg bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="#">MDBC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/transaction">View Transaction history</a>
        </li>
       <button class="btn btn-outline-warning" type="button" (click)="logOut()">LOGOUT</button>
       <button class="btn btn-outline-danger ms-2" type="button" (click)="delete()">Delete</button>
       
      </ul>
    </div>
  </div>
</nav>
<div> <app-deleteconfirm (oncancel)="onCancel()" (ondelete)="ondelete($event)" [item]="acnum"></app-deleteconfirm> <div>
<h1  class= "text-center">Welcome {{dashh}}</h1>


<div [ngClass]="acnum?'style1':'' " class="container w-25  border rounded">
    <h1>Deposit Form</h1>
    <form  (ngSubmit)="deposit()" [formGroup]="depositForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Account Number</label>
            <input type="text" name="acnome" class="form-control" formControlName="acnum" id="acnooo" aria-describedby="emailHelp">
            <div *ngIf="this.depositForm.get('acnum')?.errors&&this.depositForm.get('acnum')?.touched"><p class="text-danger">*Invalid Account Number</p></div>

          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Amount</label>
          <input type="text" name="ammount" formControlName="amnt" class="form-control" id="amttt" aria-describedby="emailHelp">
          <div *ngIf="this.depositForm.get('amnt')?.errors&&this.depositForm.get('amnt')?.touched"><p class="text-danger">*Invalid Amount</p></div>

          
        </div>
    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="pss" class="form-control" formControlName="psw" id="passw">
          <div *ngIf="this.depositForm.get('psw')?.errors&&this.depositForm.get('psw')?.touched"><p class="text-danger">*Invalid Password</p></div>

        </div>
       
        <button type="submit" class="btn btn-primary">Deposit</button>
      </form>

</div>

<div [ngClass]="acnum?'style1':'' " class="container w-25 mt-3 border rounded">
    <h1>Withdrawal Form</h1>
    <form [ngClass]="acnum?'style1':'' " (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Account Number</label>
            <input type="text" name="cca" class="form-control" formControlName="acnum1" id="acno11" aria-describedby="emailHelp">
            <div *ngIf="this.withdrawForm.get('acnum1')?.errors&&this.withdrawForm.get('acnum1')?.touched"><p class="text-danger">*Invalid Account Number</p></div>
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Amount</label>
          <input type="text" name="aammnt"formControlName="amnt1" class="form-control" id="amtt1" aria-describedby="emailHelp">
          <div *ngIf="this.withdrawForm.get('amnt1')?.errors&&this.withdrawForm.get('amnt1')?.touched"><p class="text-danger">*Invalid Amount</p></div>

          
        </div>
    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="psswer" class="form-control" formControlName="psw1" id="pswde">
          <div *ngIf="this.withdrawForm.get('psw1')?.errors&&this.withdrawForm.get('psw1')?.touched"><p class="text-danger">*Invalid Password</p></div>

        </div>
       
        <button type="submit" class="btn btn-primary">Withdraw</button>
      </form>
     
</div>

